body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
    position: relative; /* Añadido para que el corazón pueda ser posicionado correctamente */
}

.container {
    position: relative; /* Añadido para que el corazón y los tulipanes se posicionen relativamente */
}

.heart {
    height: 70px;
    width:  70px;
    background: #6a16b9;
    position: absolute;
    top: 20%; /* Ajusta la posición vertical del corazón */
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #6a16b9;
    animation: heart 0.6s linear infinite;
    z-index: 2; /* Asegura que el corazón esté por encima de los tulipanes */
}
@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.07);
    }

    80%{
        transform: rotate(-45deg) scale(1.00);
    }

    100%{
        transform: rotate(-45deg) scale(0.80);
    }
}

.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #6a16b9;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #6a16b9;
}

.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #6a16b9;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #6a16b9;
}